body {
    background-color: black;
    color: white;
}

.outline {
    display: flex;
    flex-direction: column ;
    width: 400px;
}

.items-group {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

.items {
    display: flex;
    flex-direction: column ;
    text-align: center;
    margin: 5px auto;
}

.tick {
    margin-top: 20px;
    visibility: hidden;
}

.err-msg {
    display: none;
    color: red;
    font-size: 12px;
}

.submit {
    width: 100px;
    text-align: center;
    margin-right: 20px;
    margin-top: 5px;
}