.date-field {
    display: flex;
    width: 200px;
}

.one-filed {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calc-section {
    display: flex;
    flex-direction: row;
    width: 250px;
}

.add-section {
    display: flex;
    flex-direction: column;
}